{{ if .title }}
<title>{{ .title }}</title>
{{ else }}
<title>Pokedb</title>
{{ end }}
{{ template "header.html" }}
    {{ if gt (len .types) 0 }}
        <table border="black">
            <tr>
                <th><center>Name</center></th>
                <th colspan="2"><center>Action</center></th>
            </tr>
            {{range .types}}
                <tr>
                    <td><span style="width: 10px;"><a style="background-color: {{ .Color }}; color:white;" class="border rounded-pill px-3 text-decoration-none fw-bold" href="/type/{{ .Name }}">{{ .Name }}</a></span></td>
                    <td><button  onclick="location.href = '/type/{{ .Name }}/update';">Update</button></td>
                    <form action="/type/{{ .Name }}/delete" method="post">
                        <td><button type="submit" onclick="return confirm('are you sure?')">Delete</button></td>
                    </form>
                </tr>
            {{end}}
        </table>
    {{ else }}
        <p> No Type Created</p>
    {{ end }}
    <td><span style="width: 10px;"><a style="background-color: grey; color:white;" class="border rounded-pill px-3 text-decoration-none fw-bold" href="/type/create">+</a></span></td>
{{ template "footer.html" }}
