
{{ if .title }}
<title>{{ .title }}</title>
{{ else }}
<title>Pokedb</title>
{{ end }}
{{ template "header.html" }}
    {{ if gt (len .pokemons) 0 }}
        <table border="black">
            <tr>
                <th><center>Name</center></th>
                <th colspan="2"><center>Action</center></th>
            </tr>
            {{range .pokemons}}
                <tr>
                    <td><span style="width: 10px;"><a style="background-color: skyblue; color:white;" class="border rounded-pill px-3 text-decoration-none fw-bold" href="/pokemon/{{ .name }}">{{ .name }}</a></span>
                    {{range $type := .lookup}}
                        <span style="width: 10px;"><a style="background-color: {{ $type.color }}; color:white;" class="border rounded-pill px-3 text-decoration-none fw-bold" href="/type/{{ $type.name }}">{{ $type.name }}</a></span>
                    {{end}}
                    </td>
                    <td><button  onclick="location.href = '/pokemon/{{ .name }}/update';">Update</button></td>
                    <form action="/pokemon/{{ .name }}/delete" method="post">
                        <td><button type="submit" onclick="return confirm('are you sure?')">Delete</button></td>
                    </form>
                </tr>
            {{end}}
        </table>
    {{ else }}
        <p> No Pokemon Created</p>
    {{ end }}
    <td><span style="width: 10px;"><a style="background-color: grey; color:white;" class="border rounded-pill px-3 text-decoration-none fw-bold" href="/pokemon/create">+</a></span></td>
{{ template "footer.html" }}
