{{ if .title }}
<title>{{ .title }}</title>
{{ else }}
<title>Pokedb</title>
{{ end }}
{{ template "header.html" }}
    <button onclick="location.href='/ability'"><-</button>
    <form action="/ability/{{ .ability.Name }}/update" method="post">
        <label for="name">Name</label><br>
        <input type="text" placeholder="Ability Name" id="name" name="name" value="{{ .ability.Name }}"><br>
        <label for="description">Description</label><br>
        <textarea placeholder="Ability Description" id="description" name="description">{{ .ability.Description }}</textarea><br><br>
        <button type="submit">Submit</button>
    </form> 
{{ template "footer.html" }}
