{{ if .title }}
<title>{{ .title }}</title>
{{ else }}
<title>Pokedb</title>
{{ end }}
{{ template "header.html" }}
    <button onclick="location.href='/move'"><-</button><br>
    {{ if ne .move.Name "" }}
        <p>Name: {{ .move.Name }}</p>
        <p>Category: {{ .move.Category }}</p>
        <p>TypeName: <td><span style="width: 10px;"><a style="background-color: {{ .color }}; color:white;" class="border rounded-pill px-3 text-decoration-none fw-bold" href="/type/{{ .TypeName }}">{{ .move.TypeName }}</a></span></td></p>
        <p>Power: {{ .move.Power }}</p>
        <p>Accuracy: {{ .move.Accuracy }}</p>
        <p>PP: {{ .move.PP }}</p>
        <p>MakeContact: {{ .move.MakeContact }}</p>
        <p>Effect: {{ .move.Effect }}</p>
    {{ else }}
        <p>Move Does Not Exists</p>
    {{ end }}
{{ template "footer.html" }}